.summary-section {
  padding-right: 70px;
}
.summary-section h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 11px;
  color: #022959;
}
.summary-section img {
  margin-bottom: 32px;
  width: 60px;
}
.thank-you-message {
  text-align: center;
}
.thank-you-message h1 {
  margin-bottom: 14px;
  color: #022959;
  font-weight: 700;
}
.thank-you-message p {
  color: #9699aa;
  font-weight: 400;
  line-height: 25px;
}
.summary-section > p {
  margin-bottom: 40px;
  color: #9699aa;
  font-weight: 400;
  line-height: 25px;
}
.confirm-details {
  background-color: #f8f9ff;
  padding: 16px 24px;
  border-radius: 8px;
}
.selected-plan {
  color: #022959;
  font-weight: 600;
  margin-bottom: 7px;
}
.change-btn {
  color: #9699aa;
  font-weight: 400;
}
.plan-price {
  color: #022959;
  font-weight: 700;
}
.plan-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
hr {
  display: block;
  margin-top: 24px;
  margin-bottom: 16px;
  outline: none;
  border: 1px solid #9699aa;
}
.add-on {
  margin-bottom: 16px;
  color: #9699aa;
  font-size: 14px;
}
.add-on span {
  float: right;
  color: #022959;
  font-size: 14px;
}
.total {
  color: #9699aa;
  font-size: 14px;
  margin-top: 24px;
  padding-inline: 24px;
}
.total span {
  float: right;
  color: #483eff;
  font-size: 17px;
  font-weight: 700;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 95px;
}
.goBack-btn {
  font-family: "Ubuntu", sans-serif;
  border: none;
  background: transparent;
  text-decoration: none;
  font-weight: 600;
  color: #9699aa;
  transition: color 0.3s ease-in-out;
}
.goBack-btn:hover {
  cursor: pointer;
  color: #022959;
}
.confirm-btn {
  font-family: "Ubuntu", sans-serif;
  background-color: #483eff;
  color: white;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}
.confirm-btn:hover {
  background-color: #928cff;
}

@media screen and (max-width: 600px) {
  .summary-section {
    width: 95%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.3);
    margin-top: -100px;
    padding: 40px 20px;
  }
}
