@if(showStarterPage){
<app-starter-page></app-starter-page>
} @else {
<div class="container">
  <div class="card">
    <div class="sidebar">
      <div class="steps">
        <a routerLink="/your-info" class="step" routerLinkActive="active">
          <div>
            <span class="number">1</span>
          </div>
          <div class="step-number-and-title">
            <span class="step-number">STEP 1</span>
            <span class="step-title">YOUR INFO</span>
          </div>
        </a>
        <a routerLink="/select-plan" class="step" routerLinkActive="active">
          <div>
            <span class="number">2</span>
          </div>
          <div class="step-number-and-title">
            <span class="step-number">STEP 2</span>
            <span class="step-title">SELECT PLAN</span>
          </div>
        </a>
        <a routerLink="/add-ons" class="step" routerLinkActive="active">
          <div>
            <span class="number">3</span>
          </div>
          <div class="step-number-and-title">
            <span class="step-number">STEP 3</span>
            <span class="step-title">ADD-ONS</span>
          </div>
        </a>
        <a routerLink="/summary" class="step" routerLinkActive="active">
          <div>
            <span class="number">4</span>
          </div>
          <div class="step-number-and-title">
            <span class="step-number">STEP 4</span>
            <span class="step-title">SUMMARY</span>
          </div>
        </a>
      </div>
      <img src="/images/navigation-vector.png" alt="vector" />
    </div>

    <router-outlet />
  </div>
  <button class="reset-btn" (click)="resetForm()">Reset</button>
</div>
}
